<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <a href="{% url 'role' %}" class="btn btn-success">Add Role</a>
          <a href="{% url 'viewrole' %}" class="btn btn-danger">Role Hierarchy</a>
        </div>
        <div class="table-responsive mt-3 col-sm form-control">
          <table class="display" id="tbldata" style="width:100%">
            <thead>
              <tr>
                <th>Parent</th>
                <th>Roles</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% if role_list %}
              {% for i in role_list %}
              <tr>
                <td>{{i.parent}}</td>
                <td>{{i.role}}</td>
                <td>
                  <a href="{% url 'updaterole' i.id %}" class="btn btn-warning">Update</a>
                  <input type="submit" data="{{i.id}}" class="btn btn-danger deleterole" value="Delete"></input>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="5">No records found</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $('#tbldata').DataTable({
          pagingType: 'full_numbers',
        });
      });
    </script>
    <script>
      {% for msg in messages %}
      swal('{{msg}}');
      {% endfor %}
    </script>
    <script>

      function deletefunc(del) {
        $.ajax({
          url: "{% url 'delrole' %}",
          data: { 'del': del, 'csrfmiddlewaretoken': '{{csrf_token}}' },
          method: 'POST',
          success: function (response) {
            window.location = "{% url 'managerole' %}"
          },
        })

      }

      $('.deleterole').click(function () {
        var del = $(this).attr('data')
        console.log(del)

        deletefunc(del)
      })
    </script>
</body>

</html>