<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  {% load static %}
  <link href="{%static 'tree.css'%}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
  <div class="p-4"></div>
  <div class="container form-control " style="width:800px;height:400px;">
    <div class=" d-flex align-items-center justify-content-center " style="width:800px;height:400px">
      {% if role_list %}
      <ul class="tree">
        {% load mptt_tags %}
        {% recursetree role_list %}
        <li> <a>{{ node.role }}</a>
          {% if not node.is_leaf_node %}
          <ul>
            {{children}}
          </ul>
          {% endif %}
        </li>
        {% endrecursetree %}
      </ul>

      {% else %}
      <h1>No records found</h1>
      {% endif %}
    </div>
  </div>
</body>

</html>